
.contact {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contactSection {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 50px 0;
    text-align: left;
}

.contactHeader {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.contactSubHeader {
    font-weight: 500;
    color: #717171;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


.contactInfo {
    background-image: url('../images/Frame1.png');
    padding: 40px 40px 36px;
    width: 491px;
    height: 647px;
}

.contactInfoHeader {
    font-weight: 600;
    font-size: 28px;
}

.contactInfoSubHeader {
    margin: 6px 0 0;
    color: #C9C9C9;
    font-weight: 400;
    font-size: 18px;
}

.contactInfoGroup {
    margin: 111px 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 350px;
    text-align: left;
}

.contactInfoGroupItem {
    display: flex;
    line-height: 24px;
    gap: 25px;
    margin:  0 18px 0 0;
}

.contactIconsGroup {
    margin: 159px 0 0;
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.contactIcon:hover {
    cursor: pointer;
    transition: 0.3s;
    filter: invert(100%);
}


.form {
    padding: 60px 50px 0 50px;
    background-color:#fff;
    height: 647px;
    width: 700px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.formTextfields {
    display: grid;
    grid-template-columns: 278px 278px;
    gap: 45px 39px
}

.formInputGroup {
    position: relative;
    height: 55px;
}


.formInput {
    width: 100%;
    padding: 10px 0 0 3px;
    height: 100%;
    border-bottom: 1px solid #8D8D8D;
    font-size: 14px;
    color: #777
}

.formInput:focus {
    color: #000;
    border-bottom: 1px solid #000;
}

.formInputLabel {
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    transition: color 0.3s;
}

.formInput:focus + .formInputLabel {
    color: #000;
}

.radioHeader {
    margin: 45px 0 15px;
    font-weight: 600;
    font-size: 14px;
}

.radioGroup {
    width: 520px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin:0 0 30px;
}

.radioCheckbox input {
    display: none;
}
  
.radioCheckbox .radioCheckmark {
    display: inline-block;
    width: 13px;
    height: 14px;
    background-image: url('../images/emptyCircle.png');
    margin-right: 8px;
    user-select: none;
}

.radioCheckbox input:checked + .radioCheckmark::after {
    content: url('../images/checkedCircle.png');
    display: block;
    color: white;
    text-align: center;
    line-height: 16px;
}

.radioCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


.submitButton {
    margin: 60px 0 0 auto;
    width: 214px;
    height: 54px;
    color: #fff;
    background-color: #000;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.submitImg {
    position: absolute;
    transform: translate(260px, 75px);
}

@media screen and (max-width: 360px) {
    .contact {
        width: 100%;
    }
    .contactHeader {
        font-size: 24px;
    }
    
    .contactSubHeader {
        width: 184px;
        font-size: 14px;
        margin: 0 auto;
    }

    .contactSection {
        width: 310px;
        flex-direction: column;
        margin: 0 auto;
    }

    .contactInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        padding: 15px 45px 25px;
        height: 397px;
        align-items: center
    }

    .contactInfoHeader {
        font-size: 20px;
        text-align: center;
    }

    .contactInfoSubHeader {
        font-size: 11px;
        text-align: center;
    }

    .contactInfoGroup {
        flex-direction: column;
        height: 204px;
        margin: 12px 0 0;
        gap: 12px;
    }
    .contactInfoGroupItem {
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 12px;
        text-align: center;
        gap: 12px;
    }

    .contactIconsGroup {
        margin: 58px 0 0;
        width: 138px;
        display: flex;
        justify-content: space-between;
    }

    .form {
        width: 310px;
        height: 653px;
        padding: 30px 21px 63px;
    }

    .formTextfields {
        grid-template-columns: 278px;
        gap: 25px
    }

    .radioHeader {
        margin: 25px 0 0;
    }

    .radioGroup {
        margin: 10px 0 55px;
        display: grid;
        grid-template-rows: auto auto; /* Два ряда */
        grid-template-columns: auto auto; /* Два столбца */
        gap: 12px 16px;
        width: 100%;
        justify-content: start;
    }

    .submitButton {
        font-size: 13px;
        width: 278px;
        height: 39px;
        margin: 25px auto 0;
    }

    .submitImg {
        width: 170px;
        height: 120px;
        transform: translate(-15px, 42px);
    }
}



